<!-- Footer -->
<footer class="footer">
  <div class="container footer-flex">
    <div class="footer-col">
      <h4>Về Chúng Tôi</h4>
      <ul>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Hệ thống cửa hàng</a></li>
        <li><a href="#">Giấy phép kinh doanh</a></li>
        <li><a href="#">Kiểm tra hóa đơn điện tử</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Danh Mục</h4>
      <ul>
        <li><a href="#">Thuốc</a></li>
        <li><a href="#">Thực phẩm chức năng</a></li>
        <li><a href="#">Dược mỹ phẩm</a></li>
        <li><a href="#">Chăm sóc cá nhân</a></li>
        <li><a href="#">Thiết bị y tế</a></li>
        <li><a href="#">Đặt thuốc online</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Thông Tin Khác</h4>
      <ul>
        <li><a href="#">Góc sức khỏe</a></li>
        <li><a href="#">Tra cứu thuốc</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Kết Nối</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Zalo</a></li>
        <li><a href="#">Ứng dụng </a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      &copy; 2000 - 2025 Công ty Cổ phần Dược phẩm Tận Tâm. Địa chỉ: 12
      Nguyễn Văn Bảo, Phường 1, Quận Gò Vấp, TP. HCM
    </p>
    <p>
      Chăm sóc khách hàng:
      <a href="mailto:sale@nhathuoctantam.com.vn"
        >sale@nhathuoctantam.com.vn</a
      >
    </p>
  </div>
</footer>