.profile-container {
  max-width: 700px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-card {
  padding: 20px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-info {
  text-align: left;
  margin-top: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.info-row span:nth-child(1) {
  font-weight: 400;
}
#edit-form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 2px;
}

#edit-form button {
  margin-top: 20px;
  background: #4a90e2;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
}

/* Ẩn modal ban đầu */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Nội dung modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Nút đóng modal */
.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

/* Các input */
input,
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Nút submit */
button {
  margin-top: 20px;
  background: #4a90e2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.modal-content-location {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.address-container {
  display: flex;
}
.address-list {
  width: 60%;
  padding-right: 20px;
}
#address-form {
  margin: 20px 0;
  width: 100%;
}
#address-items li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#address-items li:hover {
  background-color: #e6f7ff;
}
.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn.save {
  background-color: #28a745;
  color: white;
}
.btn.delete {
  background-color: #dc3545;
  color: white;
}
.btn:hover {
  opacity: 0.8;
}
.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

#address-table,
th,
tr,
td {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
#address-table {
  margin: 20px 0;
}

#edit-profile,
#edit-address {
  margin-top: 15px;
}

.bar {
  display: inline-block;
  width: 4px; /* Độ rộng mỗi vạch */
  height: 50px; /* Chiều cao mã vạch */
  background-color: black;
  margin-right: 1px; /* Khoảng cách giữa các vạch */
}

#barcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-edit,
.btn-delete,
.btn.save,
#add-address {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-delete {
  background-color: #dc3545;
  color: white;

  margin-top: 5px;
}
.btn-edit {
  background-color: #ff9f0f;
  color: white;
  margin-top: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.checkbox-container input {
  width: 20px;
}

#address-form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 2px;
}

.address-form-container {
  width: 40%;
}
